body {
    background-color: #4da6ff;
}

.m-table-header {
    background-color: #ffffff !important;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px !important;
}
