<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Recipe browser</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="content-container">
    <h2>Recipe search</h2>
    <div class="row col-md-12 bordered">
        <form class="row col-md-12" th:action="@{/recipes/findByIngredients/}" th:method="get">
            <div class="offset-2 col-2">
                <h5>Write what you have in the fridge, e.g. eggs, flour, butter</h5>
            </div>
            <div class="col-2">
                <input class="form-control" type="text" name="q">
            </div>
            <div class="col-2">
                <button class="form-control btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <h2 th:if="${recipes != null}">Recipe list</h2>
    <div class="card shadow-sm p-1 bg-white rounded mb-3">
        <div th:each="recipe : ${recipes}" class="row col-md-12 list-data-row">
       <!-- <div th:if="${recipes != null}" class="row col-md-12"> -->
            <div class="row col-md-12 list-header-row">
                <div class="col-3">Title</div>
                <div><!--Buttons--></div>
            </div>
                <div class="col-3" th:text="${recipe.getTitle().toString()}"></div>
        </div>
    </div>
</div>
</body>
</html>
