<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Recipe for today</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="content-container">
    <div class="row col-md-12 bordered">
        <form class="row col-md-12" th:action="@{/recipes/random/}" th:method="get">
        </form>
    </div>

    <div class="card shadow-sm p-1 bg-white rounded mb-3">
        <div th:if="${recipe != null}" class="row col-md-12">

            <div class="col-3" th:text="${recipe.getTitle().toString()}"></div>
            <div class="col-3" th:text="${recipe.getReadyInMinutes().toString()}"></div>
            <div class="col-3" th:text="${recipe.getServings().toString()}"></div>
            <div class="col-3" th:text="${recipe.getInstructions().toString()}"></div>
        </div>
    </div>
</div>
</body>
</html>