<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Recipe for today</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="content-container">
    <div class="row col-md-12 bordered">
        <form class="row col-md-12" th:action="@{/recipes/random/}" th:method="get" th:object="${recipe}">
        </form>
    </div>
    <div class="card shadow-sm p-1 bg-white rounded mb-3">
        <div class="list-group list-group-flush">
            <div class="row m-table-element p-1 m-table-row mb-3">
                <div class="col-2">Title</div>
                <div class="col-10" th:text="${recipe.getTitle()}"></div>
            </div>
            <div class="row m-table-element p-1 mb-3">
                <div class="col-2" th:text="'Instructions'"></div>
                <div class="col-10" th:text="${recipe.getInstructions()}"></div>
            </div>
            <div class="row m-table-element p-1 mb-3">
                <div class="col-2" th:text="'Ingredients'"></div>
                <div class="col-10">
                    <div th:each="ingredient : ${recipe.getExtendedIngredients()}"
                         th:text="${ingredient.getName()}"></div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
</html>