<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Recipe details</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <div class="row col-md-12 bordered">
        <form class="row col-md-12" th:action="@{'/recipes/details/'+${q}/}" th:method="get" th:object="${q}">
            <div class="card shadow-sm p-4 bg-white rounded mb-3">
                <div class="row colored-row" id="recipeTitle" th:text="${recipe.getTitle()}"></div>
                <div class="row colored-row" id="instructions" th:text="${recipe.getInstructions()}"></div>
                <div class="row colored-row" th:text="'Ingredients:'"></div>
                <div class="row colored-row" th:each="ingredient : ${recipe.getExtendedIngredients()}" th:text="${ingredient.getName()}"></div>

            </div>
        </form>
    </div>
</div>
</body>
</html>