<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Recipe browser</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="content-container">
    <h2>Recipe search</h2>
    <div class="row col-md-12 bordered">
        <form class="row col-md-12" th:action="@{/recipes/search/}" th:method="get">
            <div class="offset-2 col-2">
                <h4>Search</h4>
            </div>
            <div class="col-2">
                <input class="form-control" type="text" name="q">
            </div>
            <div class="col-2">
                <button class="form-control btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div th:if="${recipes != null}">
        <h2>Recipe list</h2>
        <div class="card shadow-sm p-1 bg-white rounded mb-3">
            <div th:if="${recipes != null}" class="row col-md-12">
                <div class="row col-md-12 m-table-header">
                    <div class="col-4" th:text="'Title'"></div>
                    <div class="col-2" th:text="'Ready in minutes'"></div>
                    <div class="col-2" th:text="'Servings'"></div>
                    <div><!--Buttons--></div>
                    <div><!--Buttons--></div>

                </div>
                <div th:each="recipe : ${recipes.getResults()}" class="row col-md-12 list-data-row">
                    <div class="col-4" th:text="${recipe.getTitle().toString()}"></div>
                    <div class="col-2" th:text="${recipe.getReadyInMinutes().toString()}"></div>
                    <div class="col-2" th:text="${recipe.getServings().toString()}"></div>
                    <div class="col-1">
                        <a th:href="@{'/recipes/details/'+${recipe.getId()}}">Details</a>
                    </div>
                    <div class="col-2" >
                        <a sec:authorize="hasRole('USER')"
                           th:href="@{/user/add-favorite(title=${recipe.getTitle()}, recipeId=${recipe.getId()})}">
                            <button class="form-control btn btn-primary" type="submit">Add to favorites</button>
                        </a>
                    </div>
                </div>
                <div class="row col-md-12 info-row">
                    <div class="col-3">Total results:</div>
                    <div class="col-3" th:text="${recipes.getTotalResults()}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>